<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
  <body class="login">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <!-- messages -->
            <h1 class="text-center">
              <span class="fa fa-sign-in"></span> Login
            </h1>

    <form action="login" method="post">
        <input type="text" name="username" value="jpanzuto" id="">
        <input type="password" name="password" value="1234" id="">
        <input type="submit" name="Enviar">
    </form>
    
    <hr>
    <div class="text-center">
      <p>Necesita registrarse? <a href="signup">Signup</a></p>
      <p>Ir a <a href="/">home</a>.</p>
      <p>Or go <a href="profile">Profile</a>.</p>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>
